@import "bootstrap";
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';


.heading-section .subheading {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
  color: #01d28e;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.heading-section h2 {
  font-size: 40px;
  font-weight: 600;
}



